#app {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100dvh;

	font-family:comic system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}